body {
  font-family: Calibri, "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.canvas {
  transform: scale(1, -1);
  background: #f0fef0;
}

.box {
  fill: #fef0f1;
  stroke: pink;
}

.points {
  fill: #fef0f1;
}

.labels {
  transform: scale(1, -1);
}

.x-labels {
  text-anchor: middle;
}

.y-labels {
  text-anchor: end;
}

.y-titles {
  text-anchor: middle;
}
